{% extends 'Home\Admintemp\admin_navi.html' %}

{% block secnt %} 

<div class="home-box">
  <div class="overview-boxes">
    <div class="box">
      <div class="box-1">
        <div class="box-topic">order list</div>
        <div class="number">1234</div>
        <div class="indicator">
          <i class="bx bx-up-arrow-alt"></i>
          <span class="text">up from yesterday</span> 
        </div>
      </div>
      <i class="bx bxs-cart-alt cart"></i>
    </div>
    <div class="box">
      <div class="box-1">
        <div class="box-topic">total sale</div>
        <div class="number">4466</div>
        <div class="indicator">
          <i class="bx bx-up-arrow-alt"></i>
          <span class="text">up from yesterday</span>
        </div> 
      </div>
      <i class="bx bxs-cart-add cart two"></i>
    </div>
    <div class="box">
      <div class="box-1">
        <div class="box-topic">total profit</div>
        <div class="number">5555</div>
        <div class="indicator">
          <i class="bx bx-up-arrow-alt"></i>
          <span class="text">up from yesterday</span>
        </div>
      </div>
      <i class="bx bxs-cart-add cart three"></i>
    </div>
    <div class="box">
      <div class="box-1">
        <div class="box-topic">total profit</div>
        <div class="number">6666</div>
        <div class="indicator">
          <i class="bx bx-down-arrow-alt down"></i>
          <span class="text">up from yesterday</span>
        </div>
      </div>
      <i class="bx bxs-cart-add cart four"></i>
    </div>
  </div>
</div>
<h1>My name is ritik raghuwnshi</h1>
{% endblock %}
{% block body %}

{% endblock %}