{% extends 'Home/navbar.html' %}
{% block title %}  CodingOutreach - For Everyone {% endblock %} 
{% block cssd %} 
{% load static %}
<link rel="stylesheet" href="{% static 'Home/about.css' %}">
{% endblock %}
{% block body %}

<div class="container">
    <div class="wrapper">
      <div class="row">
        <div class="col-md-6"> 
          <div class="feature-box">
            <h1>We are CodingOutreach</h1>

         
            <p>Codingoutreach.com is an online platform that helps beginners learn how to code. We provide  interactive courses on various programming languages, frameworks, and tools. Our mission is to make coding accessible and fun for everyone, regardless of their background, age, or experience level.</p>
            <p>Our team consists of passionate and experienced instructors, developers, and content writers who love to share their knowledge and skills with the world. We also collaborate with industry experts and partners to ensure that our courses are up-to-date, relevant, and practical.</p>
            <p>Whether you want to start a career in web development, build your own projects, or just explore your creativity, Codingoutreach.com is the place for you. Join us today and start your Learning journey!</p>
            
            <a href="" class="btn-One">Read More</a>
            <a href="/contactus" class="btn-One">Contact US</a>
          </div>
        </div>
        <div class="col-md-6">
          <img src="static\images\undraw_mobile_development_re_wwsn.svg" alt="" srcset="" class="imgrig"> 
        </div>
      </div>
    </div>
  </div>
  <img src="static\images\wave.svg" alt="Waves" srcset="" class="wave-img">
  
  


{% endblock %}