{% extends 'Home/navbar.html' %}
{% block title %}  CodingOutreach - For Everyone {% endblock %} 
{% block cssd %} 
{% load static %}
<link rel="stylesheet" href="{% static 'Home/about.css' %}">
{% endblock %}
{% block body %}

<div class="container">
    <div class="wrapper">
      <div class="row">
        <div class="col-md-6"> 
          <div class="feature-box">
            <h1>We are CodingOutreach</h1>
            <p>We at codingoutreach adopt new practices to discover new ideas and implement them with desired Accurcy .Beacause Accurcy matters the most .. Quidem totam vero dolor voluptate maxime laborum, animi, nulla sint id doloremque ipsum! Ad illum eius consequatur labore fugit dicta aut, repellat similique. Excepturi aliquam nesciunt in mollitia ducimus, placeat quae! Fuga consectetur voluptatibus laboriosam tenetur? Excepturi labore eligendi tenetur illo officia?</p>
            <a href="" class="btn-One">Read More</a>
            <a href="/contactus" class="btn-One">Contact US</a>
          </div>
        </div>
        <div class="col-md-6">
          <img src="static\images\undraw_mobile_development_re_wwsn.svg" alt="" srcset="" class="imgrig"> 
        </div>
      </div>
    </div>
  </div>
  <img src="static\images\wave.svg" alt="Waves" srcset="" class="wave-img">
  
  


{% endblock %}