{% extends 'Home/navbar.html' %}

{% block cssd %} 
{% load static %}
<link rel="stylesheet" href="{% static 'index.css' %}" />
{% endblock %}
{% block title %}  {{CurrSiteInfo.SiteName}} CodingOutreach - For Everyone {% endblock %} 

{% block jsd %} 
    <script src="{% static 'js/Home/index.js' %}"></script>
{% endblock %}

index.js

{% block body %}

<!-- carousel starts  -->
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="media/{{CurrSiteInfo.BannerImg1}}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none lead d-md-block">
                    <h2>Welcome to <span style="color:#FFDB99;" > {{CurrSiteInfo.SiteName}} </span></h2>
                    <p>{{CurrSiteInfo.SiteHeadSLogan}} </p>
                    <p>A Plateform for ML & DL solutions</p>
                    {% if CurrSiteInfo.ProjectsAvailable is True %}
                        <a href="/project"><button class="btn btn-danger">Projects</button></a>
                    {% endif %}
                    {% if CurrSiteInfo.ProductsAvailable  is True %}
                        <a href="/products"><button class="btn btn-primary">DL solutions</button></a>
                    {% endif %}
                    {% if CurrSiteInfo.LearnWithUsAvailable is True %}
                        <a href="/LearnWithUS"><button class="btn btn-success">Learn With Us</button></a>
                    {% endif %}
                    {% if CurrSiteInfo.NotesAvailable  is True %}
                        <a href="/Notes"><button class="btn btn-warning">Notes</button></a>
                    {% endif %}
            </div>
        </div>
        <div class="carousel-item">
            <img src="media/{{CurrSiteInfo.BannerImg2}}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none lead d-md-block">
                <h2>Welcome to <span style="color:#FFDB99;" > {{CurrSiteInfo.SiteName}} </span></h2>
                <p>{{CurrSiteInfo.SiteHeadSLogan}} </p>
                <p>A plateform for ML & DL solutions</p>
                {% if CurrSiteInfo.ProjectsAvailable is True %}
                    <a href="/project"><button class="btn btn-danger">Projects</button></a>
                {% endif %}
                {% if CurrSiteInfo.ProductsAvailable  is True %}
                    <a href="/products"><button class="btn btn-primary">DL solutions</button></a>
                {% endif %}
                {% if CurrSiteInfo.LearnWithUsAvailable is True %}
                    <a href="/LearnWithUS"><button class="btn btn-success">Learn With Us</button></a>
                {% endif %}
                {% if CurrSiteInfo.NotesAvailable  is True %}
                    <a href="/Notes"><button class="btn btn-warning">Notes</button></a>
                {% endif %}
            </div>
        </div>
        <div class="carousel-item">
            <img src="media/{{CurrSiteInfo.BannerImg3}}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none lead d-md-block">
                <h2>Welcome to  <span style="color:#FFDB99;" > {{CurrSiteInfo.SiteName}} </span></h2>
                <p>{{CurrSiteInfo.SiteHeadSLogan}} </p>
                <p>A Plateform for ML & DL solutions</p>
                {% if CurrSiteInfo.ProjectsAvailable is True %}
                    <a href="/project"><button class="btn btn-danger">Projects</button></a>
                {% endif %}
                {% if CurrSiteInfo.ProductsAvailable  is True %}
                    <a href="/products"><button class="btn btn-primary">DL solutions</button></a>
                {% endif %}
                {% if CurrSiteInfo.LearnWithUsAvailable is True %}
                    <a href="/LearnWithUS"><button class="btn btn-success">Learn With Us</button></a>
                {% endif %}
                {% if CurrSiteInfo.NotesAvailable  is True %}
                    <a href="/Notes"><button class="btn btn-warning">Notes</button></a>
                {% endif %}
        </div>
        </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
        </button>
  </div>
  
<!-- carousel ends  -->

<!--- mobile view banner start -->
<div class="hiddenclassNormal">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-8">
                <div class="Banner-title lead">
                    <h2>Welcome to  <span style="color:#FFDB99;" > Codingoutreach </span></h2>
                    <p>Coding smith's on move </p>
                    <p>A Plateform for ML & DL solutions</p>
                    <a href="/project"><button class="btn btn-danger">Projects</button></a>
                    <a href="/notes"><button class="btn btn-primary">DL solutions</button></a>
                    <a href="/LearnWithUS"><button class="btn btn-success">Learn With Us</button></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--- mobile view banner ends -->

<!-- section1 -->
<section>
    <div class="container sec">
        <div class="row">
            <div class="col-md-12">
                <h2 class="section-head">We us what you can get ?</h2>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service-box">
                    <i class="fa fa-anchor"> </i>
                    <h3>Project Asistant</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam nobis ab ex sint quasi?</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service-box">
                    <i class="fa fa-bar-chart"> </i>
                    <h3>Project Building</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam nobis ab ex sint quasi?</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service-box">
                    <i class="fa fa-diamond"> </i>
                    <h3>Learning Assistance</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam nobis ab ex sint quasi?</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section1 ends  -->

{% if not NoProductFound %}
<!-- Product carousel -->
<div class="container-fluid sec">
    <div class="row">
        <div class="col-md-12">
            <h2 class="section-head">Products</h2>
        </div>
    </div>
    <div id="carouselProductsCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselProductsCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselProductsCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        </div>
        <div class="carousel-inner">
            {% for products in allproducts %}
                {% for key, value in products.items %}
                    {% if key == 0 %}
                        <div class="carousel-item active " >
                        <div class="row project-product-row">
                    {% else %}
                        <div class="carousel-item">
                        <div class="row project-product-row">
                    {% endif %}
                            {% for product in value %}
                            <div class="col-md-4 p-2 container-robot" >
                                <img src="/media/{{ product.Image }}" class="d-block w-100" alt="Image 5">                
                                <div class="overlay">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-12">
                                                {{product.productname}}
                                            </div>
                                            <div class="col-md-12">
                                                {{product.desc|slice:"0:100"}}
                                            </div>
                                            <div class="col-md-12">
                                                <button class="success">Access Now</button>
                                            </div>
                                        </div>
                                    </div>
                                
                                </div>
                            </div>
                            {% if lastProductID == product.productid %}
                            <div class="col-md-4 p-2 container-robot" style="padding: 11% !important;" >
                                <a href="/products"><button class="btn btn-outline-primary btn-lg">Show More</button></a>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselProductsCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselProductsCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<!-- Product carousel ends  -->
{% endif %}


{% if not NoProjectFound %}
<!-- Projects carousel -->
<div class="container-fluid sec">
    <div class="row">
        <div class="col-md-12">
            <h2 class="section-head">Projects</h2>
        </div>
    </div>
    <div id="carouselProjectCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselProjectCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselProjectCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        </div>
        <div class="carousel-inner">
            {% for projects in allprojects %}
                {% for key, value in projects.items %}
                    {% if key == 0 %}
                        <div class="carousel-item active" >
                        <div class="row project-product-row">
                    {% else %}
                        <div class="carousel-item">
                        <div class="row project-product-row">
                            {% endif %}
                            {% for project in value %}
                            <div class="col-md-4 p-2 container-robot" >
                                <img src="/media/{{ project.Image }}" class="d-block w-100" alt="Image 5">                
                                <div class="overlay">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-12">
                                                {{project.projectname}}
                                            </div>
                                            <div class="col-md-12">
                                                {{project.desc|slice:"0:100"}}
                                            </div>
                                            <div class="col-md-12">
                                                <button class="success"> Access Now {{project.projectid}}</button>
                                            </div>
                                        </div>
                                    </div>
                                
                                </div>
                            </div>
                                {% if lastProjectID == project.projectid %}
                                <div class="col-md-4 p-2 container-robot" style="padding: 11% !important;">
                                    <a href="/project"><button class="btn btn-outline-primary btn-lg">Show More</button></a>
                                </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselProjectCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselProjectCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<!-- Project carousel ends  -->
{% endif %}

{% if not NoNotesFound %}
<!-- Notes carousel -->
<div class="container-fluid sec">
    <div class="row">
        <div class="col-md-12">
            <h2 class="section-head">Notes</h2>
        </div>
    </div>
    <div id="carouselProductsCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselProductsCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselProductsCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        </div>
        <div class="carousel-inner">
            {% for notes in allnotes %}
                {% for key, value in notes.items %}
                    {% if key == 0 %}
                        <div class="carousel-item active " >
                        <div class="row project-product-row">
                    {% else %}
                        <div class="carousel-item">
                        <div class="row project-product-row">
                    {% endif %}
                            {% for note in value %}
                            <div class="col-md-4 p-2 container-robot" >
                                <img src="/media/{{ product.Image }}" class="d-block w-100" alt="Image 5">                
                                <div class="overlay">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-12">
                                                {{note.notestitle}}
                                            </div>
                                            <div class="col-md-12">
                                                {{note.notedesc|slice:"0:100"}}
                                            </div>
                                            <div class="col-md-12">
                                                <button class="success">Access Now</button>
                                            </div>
                                        </div>
                                    </div>
                                
                                </div>
                            </div>
                            {% if lastNotesId == note.notesid %}
                            <div class="col-md-4 p-2 container-robot" style="padding: 11% !important;" >
                                <a href="/notes"><button class="btn btn-outline-primary btn-lg">Show More</button></a>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselProductsCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselProductsCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
{% endif %}
<!-- Notes carousel ends  -->


{% if not NoNewsFound %}
<!-- News  -->
<div id="news" class="container sec">
    <div class="row">
        <div class="col-md-12">
            <h2 class="section-head">Recent News</h2>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="news-post">
                <img src="static\images\news1.jpg" class="img-thumbnail">
                <h3> <a href="http://"> News Heading 1</a></h3>
                <div class="post-date">Jul 13, 2022</div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis nulla nesciunt excepturi.</p>
                <a href="" class="readmore">Read More</a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="news-post">
                <img src="static\images\news2.jpg" class="img-thumbnail">
                <h3> <a href="http://"> News Heading 1</a></h3>
                <div class="post-date">Jul 13, 2022</div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis nulla nesciunt excepturi.</p>
                <a href="" class="readmore">Read More</a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="news-post">
                <img src="static\images\news3.jpg" class="img-thumbnail">
                <h3> <a href="http://"> News Heading 1</a></h3>
                <div class="post-date">Jul 13, 2022</div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis nulla nesciunt excepturi.</p>
                <a href="" class="readmore">Read More</a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="news-post">
                <img src="static\images\news4.jpg" class="img-thumbnail">
                <h3> <a href="http://"> News Heading 1</a></h3>
                <div class="post-date">Jul 13, 2022</div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis nulla nesciunt excepturi.</p>
                <a href="" class="readmore">Read More</a>
            </div>
        </div>
    </div>
</div>
<!-- News ends  -->
{% endif %}



{% load static %}



{% endblock %}