{% extends 'Home/navbar.html' %}
{% block title %}  CodingOutreach - For Everyone {% endblock %} 
{% block cssd %} 
{% load static %}
<link rel="stylesheet" href="{% static 'registration.css' %}">
{% endblock %}
{% block jsd %} 
<script src="{% static 'registration.js' %}"></script>
{% endblock %}

{% block body %}
<div class="cont">
    <div class="contain">
        <form id="registration_form" method="post" name="Student_B" action="/register">
            {% csrf_token %}
            <h3 class="CAcco">Create Account</h3>
            <div class="form-control1">
                <input type="email" name="email" placeholder="Email" id="email" />
                <small>Error message</small>
            </div>
            <div class="form-control1">
                <input type="password" name="passwd1" placeholder="Password" id="password"/>
                <small>Error message</small>
            </div>
            <div class="form-control1">
                <input type="password" name="passwd2" placeholder="Confirm Password" id="password2"/>
                <small>Error message</small>
            </div>
            <div class="btn-box">
                <button type="button" class="btn_dire" id="Subm_btn">Sign Up</button>
            </div>
            </form>
            <p class="signp">Already have account ? <a href="/login" class="signinha">Sign in</a> </p>            
        </div>
</div>
{% endblock %}
