NB/settings.py
media/Projects1
media/*

NB/__pycache__/*
Products/__pycache__/*
LearnWithUs/__pycache__/*
Projects1/__pycache__/*
Study/__pycache__/*
Home/__pycache__/*

NB/migrations/*
Products/migrations/*
LearnWithUs/migrations/*
Projects1/migrations/*
Study/migrations/*
Home/migrations/*
env
db.sqlite3