{% extends 'Home/navbar.html' %}

{% block title %}  NB projects - For Everyone {% endblock %} 
{% block cssd %} 
{% load static %}
  <link rel="stylesheet" href="{% static 'Study/Home2.css' %}">
{% endblock %}
{% block jsd %} 
  <script src="{% static 'Projects1/index.js' %}"></script>
{% endblock %}
{% block body %}


  {% for notes,range,nslides in allnos %}
  <div class="containr">

    {% for note in notes %}
    <!-- style="background-image: url('/media/{{ note.Image }}');"  -->
  <div class="card">
    <div class="card-image"  > <iframe src="{{ note.youtubevideolink }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>   </div>
        <div class="card-text">
            <h2>{{ note.notestitle  | slice:"0:22"}}..</h2>
            <p>{{ note.notedesc | slice:"0:100" }}...</p>
        </div>
        <div  class="card-stats">
            <button type="button" id="note{{ note.notesid }}" class="btn btn-outline-primary btn-nxtpg">Preview </button>
          <a href="notesview/{{note.notesid}}/"> 
            <button type="button" class="btn btn-outline-primary btn-nxtpg" style="margin-left: 2rem;">Explore Notes</button>
          </a>
          <!-- <p class="btn-text-en">
            
          </p> -->
        </div>
      </div>
      <div class="video-container" id="vid{{ note.notesid }}">
        <div class="bg_image"></div>
        <span class="close" id="close{{ note.notesid }}">&#10006</span>
        <!-- <video src="/media/{{ proj.introvideo }}" controls > </video> -->
        
        <div class="descrip">
          <h1>{{ note.notestitle }}</h1>
          <p >{{ note.notedesc }}</p><br>
          <a href="notesview/{{note.notesid}}/"> 
            <button type="button" class="btn btn-outline-primary btn-nxtpg" style="margin-left: 2rem;">Explore Notes</button>
          </a>
        </div>
      </div>
      <script>
        const btn{{ note.notesid }} = document.getElementById('note{{ note.notesid }}');
        const videoContainer{{ note.notesid }} = document.getElementById('vid{{ note.notesid }}');
        const close{{ note.notesid }} = document.getElementById('close{{ note.notesid }}');
        btn{{ note.notesid }}.addEventListener('click',()=>{
            videoContainer{{ note.notesid }}.classList.add('show');
        })
        close{{ note.notesid }}.addEventListener('click',()=>{
            videoContainer{{ note.notesid }}.classList.remove('show');
        })
      </script>
      {% endfor %}  
  </div>
{% endfor %}
<!-- </div> -->
{% endblock %}








