{% extends 'Home/navbar.html' %}

{% block title %}  Codingoutreach - For Everyone {% endblock %} 
{% block cssd %} 
{% load static %}
<link rel="stylesheet" href="{% static 'Projects1/index.css' %}">
{% endblock %}
{% block jsd %} 
<script src="{% static 'Projects1/index.js' %}"></script> 
{% endblock %}
{% block body %}



<div class="containr">
{% for project in project %}
  <div class="card">
    <div class="card-image"  style="background-image: url('/media/{{ project.Image }}');" >    </div>
        <div class="card-text">
            <span class="date">{{ project.datecreated | slice:"0:10" }}</span>
            <h2>{{ project.projectname  | slice:"0:22"}}..</h2>
            <p>{{ project.desc | slice:"0:100" }}...</p>
        </div>
        <div  class="card-stats">
            <button type="button" id="proj{{ project.projectid }}" class="btn btn-outline-primary btn-nxtpg">Preview </button>
          <a href="/project/view/{{project.projectid}}/"> 
            <button type="button" class="btn btn-outline-primary btn-nxtpg" style="margin-left: 2rem;">Enroll Now </button>
          </a>
          <!-- <p class="btn-text-en">
            
          </p> -->
        </div>
      </div>
      <div class="video-container" id="vid{{ project.projectid }}">
        <div class="bg_image"></div>
        <span class="close" id="close{{ project.projectid }}">&#10006</span>
        <!-- <video src="/media/{{ proj.introvideo }}" controls > </video> -->
        
        <div class="descrip">
          <h1>{{ project.projectname }}</h1>
          <p >{{ project.desc }}</p><br>
          <a href="/project/view/{{project.projectid}}/"> 
            <button type="button" class="btn btn-outline-primary btn-nxtpg" style="margin-left: 2rem;">Enroll Now </button>
          </a></div>
        </div>
      <script>
        // const btn = document.querySelector('.prebtn');
        const btn{{ project.projectid }} = document.getElementById('proj{{ project.projectid }}');
        // const videoContainer = document.querySelector('.video-container');
        const videoContainer{{ project.projectid }} = document.getElementById('vid{{ project.projectid }}');
        // const close = document.querySelector('.close');
        const close{{ project.projectid }} = document.getElementById('close{{ project.projectid }}');
    
        btn{{ project.projectid }}.addEventListener('click',()=>{
            videoContainer{{ project.projectid }}.classList.add('show');
        })
    
        close{{ project.projectid }}.addEventListener('click',()=>{
            videoContainer{{ project.projectid }}.classList.remove('show');
        })
    </script>
      {% endfor %}  
 

<!-- products -->

  
    {% for products in products %}
      <div class="card">
        <div class="card-image"  style="background-image: url('/media/{{ products.Image }}');" >    </div>
            <div class="card-text">
                <span class="date">{{ products.datecreated | slice:"0:10" }}</span>
                <h2>{{ products.productname  | slice:"0:22"}}..</h2>
                <p>{{ products.desc | slice:"0:100" }}...</p>
            </div>
            <div  class="card-stats">
                <button type="button" id="proj{{ proj.projectid }}" class="btn btn-outline-primary btn-nxtpg">Preview </button>
              <a href="/products/view/{{products.productid}}/"> 
                <button type="button" class="btn btn-outline-primary btn-nxtpg" style="margin-left: 2rem;">Enroll Now </button>
              </a>
              <!-- <p class="btn-text-en">
                
              </p> -->
            </div>
          </div>
          <div class="video-container" id="vid{{ proj.productid }}">
            <div class="bg_image"></div>
            <span class="close" id="close{{ proj.productid }}">&#10006</span>
            <!-- <video src="/media/{{ proj.introvideo }}" controls > </video> -->
            
            <div class="descrip">
              <h1>{{ products.productname }}</h1>
              <p >{{ products.desc }}</p><br>
              <a href="/products/view/{{products.productid}}/"> 
                <button type="button" class="btn btn-outline-primary btn-nxtpg" style="margin-left: 2rem;">Enroll Now </button>
              </a></div>
            </div>
          <script>
            // const btn = document.querySelector('.prebtn');
            const btn{{ products.productid }} = document.getElementById('proj{{ products.productid }}');
            // const videoContainer = document.querySelector('.video-container');
            const videoContainer{{ products.productid }} = document.getElementById('vid{{ products.productid }}');
            // const close = document.querySelector('.close');
            const close{{ products.productid }} = document.getElementById('close{{ products.productid }}');
        
            btn{{ products.productid }}.addEventListener('click',()=>{
                videoContainer{{ products.productid }}.classList.add('show');
            })
        
            close{{ products.productid }}.addEventListener('click',()=>{
                videoContainer{{ products.productid }}.classList.remove('show');
            })
        </script>
          {% endfor %}  
     

        <!--------------------------------------------- Notes -------------------------------------------- -->
 
        {% for Note in Notes %}
          <div class="card">
            <div class="card-image"  style="background-image: url('/media/{{ Note.bannerImage }}');" >    </div>
                <div class="card-text">

                    <h2>{{ Note.notestitle  | slice:"0:22"}}..</h2>
                    <p>{{ Note.notedesc | slice:"0:100" }}...</p>
                </div>
                <div  class="card-stats">
                    <button type="button" id="Note{{ Note.notesid }}" class="btn btn-outline-primary btn-nxtpg">Preview </button>
                  <a href="/Notes/notesview/{{Note.notesid}}/"> 
                    <button type="button" class="btn btn-outline-primary btn-nxtpg" style="margin-left: 2rem;">Enroll Now </button>
                  </a>
                  <!-- <p class="btn-text-en">
                    
                  </p> -->
                </div>
              </div>
              <div class="video-container" id="vid{{ Note.notesid }}">
                <div class="bg_image"></div>
                <span class="close" id="Notesclose{{ Note.notesid }}">&#10006</span>
                <!-- <video src="/media/{{ Note.introvideo }}" controls > </video> -->
                
                <div class="descrip">
                  <h1>{{ Note.notestitle }}</h1>
                  <p >{{ Note.coursefor }}</p><br>
                  <p >{{ Note.category }}</p><br>
                  <p >{{ Note.subject }}</p><br>
                  <p >{{ Note.semeter }}</p><br>
                  <p >{{ Note.branch }}</p><br>
                  <p >{{ Note.notedesc }}</p><br>
                  <a href="/Notes/notesview/{{Note.notesid}}/"> 
                    <button type="button" class="btn btn-outline-primary btn-nxtpg" style="margin-left: 2rem;">Enroll Now </button>
                  </a></div>
                </div>
              <script>
                // const btn = document.querySelector('.prebtn');
                const btn{{ Note.notesid }} = document.getElementById('Note{{ Note.notesid }}');
                // const videoContainer = document.querySelector('.video-container');
                const videoContainer{{ Note.notesid }} = document.getElementById('vid{{ Note.notesid }}');
                // const close = document.querySelector('.close');
                const close{{ Note.notesid }} = document.getElementById('Notesclose{{ Note.notesid }}');
            
                btn{{ Note.notesid }}.addEventListener('click',()=>{
                    videoContainer{{ Note.notesid }}.classList.add('show');
                })
            
                close{{ Note.notesid }}.addEventListener('click',()=>{
                    videoContainer{{ Note.notesid }}.classList.remove('show');
                })
            </script>
              {% endfor %}  
          </div>
<!-- </div> -->
{% endblock %}








