
.containr{
    width: 100vw;
    /* height: 1000vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    overflow: hidden;
    margin:0;
    padding:0;
    box-sizing:border-box;
    flex-wrap: wrap;
}
.card{
    /* width: 22%; */
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 140px 200px 80px;
    grid-template-areas: "image" "text" "stats";

    font-family: roboto;
    border-radius: 18px;
    background:white ;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.8);
    text-align: center;

    transition:0.5 ease ;
    cursor: pointer;
    margin: 30px;
}
.card-image{
    grid-area: image;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    max-height: 100%;
    max-width: 100%;
    background-size: cover;
} 
/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
    .card-image{
        grid-area: image;
    }
}
  
/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
    .card-image{
        grid-area: image;
        max-height: 100%;
        max-width: 100%;
    }  }
.card-text{
    grid-area: text;
    margin: 25px;
}
.card-text .date{
    color:rgba(255,7,110);
    font-size: 13px;
}
.card-text p{
    color: grey;
    font-size: 15px;
    font-weight: 300;
}
.card-text h2{
    margin-top: 0px;
    font-size: 28px; 
}
.card-stats{
    background-color: deepskyblue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius:15px ;
    border-bottom-right-radius:15px ;
    
}
.btn-nxtpg{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);}
.card-stats:hover{
    background:rgba(255,7,110);
}
.btn-text-en{
    font-size: 1rem;
}
/* .btn-card_z{
    z-index: 1;

} */
.card:hover {
    transform :scale(1.05);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}

.video-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 99999;
    background-color: rgb(17, 16, 15);

    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
}
.bg_image{
    filter: blur(8px);
    -webkit-filter: blur(8px); 
    filter: blur(8px);
    -webkit-filter: blur(8px);
    height: 100vh;
}
.descrip{
    width: 80%;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    color:white;
}
.video-container .close{
    position: absolute;
    top: 10%;
    right: 25px;
    font-size: 20px;
    cursor: pointer;
}

.video-container video{
    width: 90%;
    max-width: 800px;
    transform: scale(0);
    box-shadow: 0 20px rgb(0,0,0,0.2);
    outline: none;
    transition: all 0.3s;
}
.video-container.show{
    pointer-events: all;
    opacity: 1;
}

.video-container.show video{
 transform: scale(1);
}