{% extends 'Home/navbar.html' %}

{% block cssd %} 
{% load static %}
<link rel="stylesheet" href="{% static 'generalPages\commingSoonPage.css' %}">
{% endblock %}
{% block title %}  CodingOutreach - For Everyone {% endblock %} 

{% block body %}

<div class="bgimg" style="background-image: url('static/images/generalPages/Comming_Soon.jpg');">
    <div class="middle">
      <div class="countdown">
        <h1>COMING SOON</h1>
        <div id="timer">
            <div class="time-unit">
                <span id="days">00</span>
                <span class="time-label">Days</span>
            </div>
            <div class="time-unit">
                <span id="hours">00</span>
                <span class="time-label">Hours</span>
            </div>
            <div class="time-unit">
                <span id="minutes">00</span>
                <span class="time-label">Minutes</span>
            </div>
            <div class="time-unit">
                <span id="seconds">00</span>
                <span class="time-label">Seconds</span>
            </div>
        </div>
    </div>

    </div>
  </div>
<script>

</script>


{% load static %}



{% endblock %}

{% block jsd %} 
{% load static %}
<script src="{% static 'generalPages/commingSoomPage.js' %}"></script>
{% endblock %}


