.profile-pic{
    max-width: 200px;
    max-height:200px;
    margin: 0 auto;
    border-radius: 50%;
}
.img_carsimg{
    max-width: 200px;
    max-height: 200px;
}

.video-container{
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100vh;
z-index: 99999;
background-color: #ab7370d1;

display: flex;
justify-content: center;
align-items: center;
opacity: 0;
pointer-events: none;
transition: all 0.3s;
}
.bg_image{
filter: blur(8px);
-webkit-filter: blur(8px); 
filter: blur(8px);
-webkit-filter: blur(8px);
height: 100vh;
}
.descrip{
width: 80%;
text-align: center;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-style: italic;
color:white;
}
.video-container .close{
position: absolute;
top: 10%;
right: 25px;
font-size: 20px;
cursor: pointer;
}

.video-container video{
width: 90%;
max-width: 800px;
transform: scale(0);
box-shadow: 0 20px rgb(0,0,0,0.2);
outline: none;
transition: all 0.3s;
}
.video-container.show{
pointer-events: all;
opacity: 1;
}

.video-container.show video{
transform: scale(1);
}